.slide {
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    margin: 0 auto;
    background: #efefef;
}

.p-post-follow__complete {
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    margin: 0 auto;
    background: #efefef;
}

._is_active {
    display: block;
}

